.btns{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    color: honeydew;
}
.btns>div{
    position: absolute;
    top: 0;
    width: 100%;
    border: none;
    color: greenyellow;
    text-shadow: rgb(205, 50, 50) 0 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

